<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nakul Pathak</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/stylesheets/stylesheet.css" rel="stylesheet">
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#name">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="/static/nakulpathak.pdf" target="_blank">Resume</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!--------------------------SCREEN 1------------------------------------>
  <div id="name">
    <div id="headerwrap">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <h1 class="animated fadeInUp novofont">NAKUL PATHAK</h1>
            <h4 class="animated fadeInUp">WEB DEVELOPER, ENGINEER, LEARNER</h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!----------------------------SCREEN 2------------------------------------>

  <div class="subheadings" id="about">
    <span id="line1" class="hide-1200"><h1 id="slab">MY LIFE</h1></span>
    <em>
      <h3 class="text-center">"Yesterday is history, tomorrow is a mystery, but today is a gift. That is why it is called the present."<br />- Bil Keane</h3>
    </em>
    <hr class="style-two"></hr>
    <br />
    <br />
    <%= image_tag("profile.jpg", id: "profile") %>
    <br />
    <div class="col-lg-6 about-text">
    Do you require a passionate and driven developer who gets shit done fast? Do you need someone with a strong knowledge of web frameworks, design patterns and algorithms? How about someone who's shipped code, developed features, autonomously found and fixed issues, reviewed code and fixed hard problems over and over? Someone who loves being part of an organization and helping it grow through collaboration and insane amounts of effort? If so, you've come to the right place! Welcome to the personal website of Nakul Pathak.
    </div>


  </div>

  <!--------------------------SCREEN 3------------------------------------>

  <div class="subheadings" id="skills">
    <span id="line2" class="hide-1200"><h1 id="slab">MY SKILLS</h1></span>
    <em>
      <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
    </em>
    <hr class="style-two"></hr>

    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-lg-offset-1">
          <h3><strong>Languages</strong></h3>
          <ul class="no-bullets">
            <li>
              <span class="oneline">Ruby</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Python</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Javascript</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">C++</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">C</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">HTML, CSS</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
          <h3><strong>Frameworks/Libraries</strong></h3>
          <ul class="no-bullets">
            <li>
              <span class="oneline">Ruby on Rails</span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Flask</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Django</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">jQuery</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Bootstrap</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Node.js</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
          </ul>
        </div>

      </div>

      <hr class="style-two hide-1200" />
      <hr class="vertical-line hide-1200" />

      <div class="row hide-1200">

        <div class="col-lg-4 col-lg-offset-1  move-up">
          <h3><strong>Tools</strong></h3>
          <ul class="no-bullets">
           <li>
              <span class="oneline">Git</span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Google App Engine</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Bash</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">Sublime Text 3</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-lg-offset-1  move-up">
          <h3><strong>Miscellaneous</strong></h3>
          <ul class="no-bullets">
            <li>
              <span class="oneline">MySQL</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">API Development</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">API Integrations</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
            <li>
              <span class="oneline">MVC Pattern</span>
              <span class="glyphicon glyphicon-star-empty stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
              <span class="glyphicon glyphicon-star filled stars"></span>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>

  <!--------------------------SCREEN 4------------------------------------>

  <div class="subheadings" id="projects">
    <span id="line3" class="hide-1200"><h1 id="slab">MY PROJECTS</h1></span>
    <h3 class="text-center"><em>"Obsessed is just a word the lazy use to describe the dedicated."<br />- Russel Warren</h3></em>
    <hr class="style-two"></hr>

    <div class="container">
      <div class="row project-list">
        <div class="col-md-2">
        <%= image_tag("projects/snapsale.png", class: "project-image") %>
        </div>

        <div class="col-md-8">
          <h3 class="project-name">Flash</h3>
          <p>An iOS application that provides users with deals that expire 5 minutes after opening. Deals are posted by Shopify merchants through an app I'm making for the Shopify app store.</p>
          <p>Tools: React Native for iOS, Node.js + Express, Shopify API.</p>
          <a href="https://github.com/nakulpathak3/Flash" target="_blank" class="github">
            <h1><i class="fa fa-github"></i></h1>
          </a>
        </div>
      </div>

      <div class="row project-list">
        <div class="col-md-2">
        <%= image_tag("projects/payment_icons.png", class: "project-image") %>
        </div>

        <div class="col-md-8">
          <h3 class="project-name">Payment Icons Gem</h3>
          <p>Ruby on Rails engine which mounts payment icon assets and frozen record model to access those assets into any rails app.</p>
          <p>Open source gem currently in use by over 175 third-party developers.</p>
          <p>Tools: Ruby on Rails, Frozen Record Model.</p>
          <a href="https://github.com/activemerchant/payment_icons" target="_blank" class="github">
            <h1><i class="fa fa-github"></i></h1>
          </a>
        </div>
      </div>

      <div class="row project-list">
        <div class="col-md-2">
        <%= image_tag("projects/inventory.png", class: "project-image") %>
        </div>

        <div class="col-md-8">
          <h3 class="project-name">Inventory Notifier App</h3>
          <p>Web application that calls or texts Shopify merchants when their product inventory goes below 10 items.
          </p>
          <p>Tools: Django, Twilio API, Shopify API.</p>
          <a href="https://github.com/nakulpathak3/twilio-shopify-notifier" target="_blank" class="github">
            <h1><i class="fa fa-github"></i></h1>
          </a>
        </div>
      </div>


      <div class="row project-list">
        <div class="col-md-2">
        <a href="http://nakulpathak.bitballoon.com" target="_blank" class="no-link-decoration">
          <%= image_tag("projects/rails_api.png", class: "project-image") %>
        </a>
        </div>

        <div class="col-md-8">
          <h3 class="project-name">Library Management API</h3>
          <p>RESTful API for managing books by reviews, authors, categories, etc. usingCRUD methodology.</p>
          <p>Tools: Ruby on Rails.</p>
          <a href="https://github.com/nakulpathak3/books-api-rails" target="_blank" class="github">
            <h1><i class="fa fa-github"></i></h1>
          </a>
        </div>
      </div>

      <div class="row project-list">
        <div class="col-md-2">
        <a href="http://nakulpathak.bitballoon.com" target="_blank" class="no-link-decoration">
          <%= image_tag("projects/website.png", class: "project-image") %>
        </a>
        </div>

        <div class="col-md-8">
          <h3 class="project-name">Old Online Portfolio</h3>
          <p>Built website from scratch after Codecademy course. Marks the start of my coding and learning adventures! First website I ever made.</p>
          <p>Tools: HTML, CSS, jQuery, jQuery UI.</p>
          <a href="https://github.com/nakulpathak3/first-personal-website" target="_blank" class="github">
            <h1><i class="fa fa-github"></i></h1>
          </a>
        </div>
      </div>

      <div class="row project-list">
        <div class="col-md-2">
          <%= image_tag("projects/myorunner.png", class: "project-image") %>
        </div>

        <div class="col-md-8">
            <h3 class="project-name">MyoRunner</h3>
            <p>Arm gesture controlled Temple Run like browser based game for the Myo. Built at EngHack, University of Waterloo.</p>
            <p>Tools: Lua, Myo SDK.</p>
            <a href="https://github.com/nakulpathak3/myorunner" target="_blank" class="github">
                <h1><i class="fa fa-github"></i></h1>
            </a>
        </div>
      </div>

      <div class="row project-list">
        <div class="col-md-2">
          <%= image_tag("projects/oddimage.png", class: "project-image") %>
        </div>

        <div class="col-md-8">
            <h3 class="project-name">Pick The Odd Image Out</h3>
            <p>Image version of the classic - pick the odd one out.</p>
            <p>Tools: HTML, CSS, AngularJS.</p>
            <a href="https://github.com/nakulpathak3/pick-odd-image-out" target="_blank" class="github">
                <h1><i class="fa fa-github"></i></h1>
            </a>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------- Footer ------------------------------------>

  <div class="subheadings" id="contact">

    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
                    <a href="https://www.facebook.com/nakul.pathak123456789" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
                    <a href="https://github.com/nakulpathak3" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
                    <a href="https://ca.linkedin.com/in/nakulpathak" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
                    <a href="https://twitter.com/nakulpathak3" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>

            </div>
        </div>
    </div>


    <div id="footerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p><b>WEB DEVELOPER, ENGINEER, LEARNER</b></p>
          </div>

          <div class="col-lg-4  col-lg-offset-2 col-md-6 col-sm-6 col-xs-6 text-center">
            <p><a class="mail-link" target="_blank" href="mailto:n4pathak@uwaterloo.ca"><b>n4pathak@uwaterloo.ca</b></a></p>
          </div>
        </div>
      </div>
    </div>

  </div>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>
